
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateGuid</title>
</head>
<body>
    <h1>Transient</h1>
    @ViewBag.transient1
    <br />
    @ViewBag.transient2

    <h2>Scoped</h2>
    @ViewBag.transient3
    <br />
    @ViewBag.transient4

    <h2>Singleton</h2>
    @ViewBag.transient5
    <br />
    @ViewBag.transient6
</body>
</html>
